/*General settings
------------------------------*/

body {
  overflow: hidden;
  font-family: Helvetica, Meiryo UI;
}
* {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 200%;
}
p {
  font-size: 100%;
}
.title {
  position: absolute;
  line-height: 1.5;
  color: #fff;
  text-shadow: 0 0 4px #000;
}
.title1 {
  font-weight: bold; 
  top: 40%;
  left: 10%;
  line-height: 1.3;
}
.title1 h2 {
  font-size: 300%;
}
.title1 p {
  font-size: 150%;
}
.parallax {
  -webkit-perspective: 300px;
  perspective: 300px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-group {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*Parallax layer style
------------------------------*/

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax-layer-fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}
.parallax-layer-base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}
.parallax-layer-back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}
.parallax-layer-deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/*Parallax group style
------------------------------*/

#group1 {
  z-index: 5;
}
#group1 .parallax-layer-base {
  background-image: url("img2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group2 {
  z-index: 3;
}
#group2 .title2-1 {
  top: 25vh;
  left: 5vw;
  width: 30%;
  padding: 5%;
  border-radius: 5px;
  -webkit-background: rgba(100, 100, 100, 0.7);
  -moz-background: rgba(100, 100, 100, 0.7);
  background: rgba(100, 100, 100, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
#group2 .parallax-layer-back {
  background-image: url("img3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group3 {
  z-index: 4;
}
#group3 .title3-1 {
  top: 25vh;
  right: 5vw;
  width: 30%;
  padding: 5%;
  border-radius: 5px;
  -webkit-background: rgba(100, 100, 100, 0.7);
  -moz-background: rgba(100, 100, 100, 0.7);
  background: rgba(100, 100, 100, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
#group3 .parallax-layer-base {
  background-image: url("img13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group4 {
  z-index: 2;
}
#group4 .title4-1 {
  top: 30vh;
  left: 5vw;
  width: 30%;
  padding: 5%;
  border-radius: 5px;
  -webkit-background: rgba(100, 100, 100, 0.7);
  -moz-background: rgba(100, 100, 100, 0.7);
  background: rgba(100, 100, 100, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}
.title4-2 img {
  position: absolute;
  top: 20vh;
  left: 70vw;
  width: 320px;
  border-radius: 5px;
  padding: 10px;
  background: rgba(240, 230, 220, 0.7);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  transform: rotate(2deg);
}
.title4-2 img:last-of-type {
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: rotate(-4deg);
}
#group4 .parallax-layer-deep {
  background-image: url("img7.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group5 {
  z-index: 3;
}
#group5 .parallax-layer-base {
  background-image: url("img15.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group6 {
  z-index: 2;
}
#group6 .parallax-layer-back {
  background-image: url("img12.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#group7 {
  z-index: 3;
}
#group7 .parallax-layer-base {
  background-image: url("img14.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
